.contacts
    padding: 40px 0 55px 0;
    &__title 
        font-size: 24px
        color: $pr 
        font-weight: normal;
        margin-bottom: 25px;
    &__descr
        color: $pr 
        margin-bottom: 75px;
    &__btn
        display: flex;
        justify-content: flex-end;
        margin-bottom: 35px;
    .map
        margin-bottom: 55px;
    &-form 
        max-width: 840px;
        margin: auto;


@media screen and ( max-width: 991px )
    .contacts
        padding: 30px 0 30px 0;
        .map 
            display: none;
        &-form 
            max-width: 100%
        &__title 
            font-size: 18px;
        &__btn
            display: none;
        &__descr
            margin-bottom: 30px;